Analysis and data cleaning:

In [1]:
#import libraries
import pandas as pd

In [3]:
# Load all uploaded CSV files
genome_scores = pd.read_csv("../data/raw/genome_scores.csv")
genome_tags = pd.read_csv("../data/raw/genome_tags.csv")
link = pd.read_csv("../data/raw/link.csv")
movie = pd.read_csv("../data/raw/movie.csv")
tag = pd.read_csv("../data/raw/tag.csv")
ratings = pd.read_csv("../data/raw/rating.csv")

In [5]:
# Check the basic info of each dataset to understand structure and potential wrangling needs
genome_scores_info = genome_scores.info()
genome_tags_info = genome_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11709768 entries, 0 to 11709767
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   tagId      int64
 2   relevance  float64
dtypes: float64(1), int64(2)
memory usage: 268.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tagId   1128 non-null   int64
 1   tag     1128 non-null   object
dtypes: int64(1), object(1)
memory usage: 17.8+ KB

In [7]:
# Getting info for Link_info
link_info = link.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   imdbId   27278 non-null  int64
 2   tmdbId   27026 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 639.5 KB

In [9]:
#Geting info for movie_info
movie_info = movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [11]:
#Getting info for tag_info
tag_info = tag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465564 entries, 0 to 465563
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     465564 non-null  int64
 1   movieId    465564 non-null  int64
 2   tag        465548 non-null  object
 3   timestamp  465564 non-null  object
dtypes: int64(2), object(2)
memory usage: 14.2+ MB

In [13]:
#Getting info for rating_info
rating_info = ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
dtypes: float64(1), int64(2), object(1)
memory usage: 610.4+ MB

In [15]:
# Show the first few rows of each dataset
sample_data = {
    "genome_scores_head": genome_scores.head(),
    "genome_tags_head": genome_tags.head(),
    "link_head": link.head(),
    "movie_head": movie.head(),
    "tag_head": tag.head(),
    "rating_head": ratings.head()
}

sample_data

{'genome_scores_head':    movieId  tagId  relevance
 0        1      1    0.02500
 1        1      2    0.02500
 2        1      3    0.05775
 3        1      4    0.09675
 4        1      5    0.14675,
 'genome_tags_head':    tagId           tag
 0      1           007
 1      2  007 (series)
 2      3  18th century
 3      4         1920s
 4      5         1930s,
 'link_head':    movieId  imdbId   tmdbId
 0        1  114709    862.0
 1        2  113497   8844.0
 2        3  113228  15602.0
 3        4  114885  31357.0
 4        5  113041  11862.0,
 'movie_head':    movieId                               title  \
 0        1                    Toy Story (1995)
 1        2                      Jumanji (1995)
 2        3             Grumpier Old Men (1995)
 3        4            Waiting to Exhale (1995)
 4        5  Father of the Bride Part II (1995)

                                         genres
 0  Adventure|Animation|Children|Comedy|Fantasy
 1                   Adventure|Children|Fantasy
 2                               Comedy|Romance
 3                         Comedy|Drama|Romance
 4                                       Comedy  ,
 'tag_head':    userId  movieId            tag            timestamp
 0      18     4141    Mark Waters  2009-04-24 18:19:40
 1      65      208      dark hero  2013-05-10 01:41:18
 2      65      353      dark hero  2013-05-10 01:41:19
 3      65      521  noir thriller  2013-05-10 01:39:43
 4      65      592      dark hero  2013-05-10 01:41:18,
 'rating_head':    userId  movieId  rating            timestamp
 0       1        2     3.5  2005-04-02 23:53:47
 1       1       29     3.5  2005-04-02 23:31:16
 2       1       32     3.5  2005-04-02 23:33:39
 3       1       47     3.5  2005-04-02 23:32:07
 4       1       50     3.5  2005-04-02 23:29:40}

In [61]:
# Check for missing values

print("Missing values in rating file:")
print(ratings.isnull().sum())
print("\n")  # Blank line

print("Missing values in genome_score:")
print(genome_scores.isnull().sum())
print("\n")  # Blank line

print("Missing values in genome_tags:")
print(genome_tags.isnull().sum())
print("\n")

print("Missing values in link:")
print(link.isnull().sum())
print("\n")

print("Missing values in movie:")
print(movie.isnull().sum())
print("\n")

print("Missing values in tag:")
print(tag.isnull().sum())

Missing values in rating file:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64


Missing values in genome_score:
movieId      0
tagId        0
relevance    0
dtype: int64


Missing values in genome_tags:
tagId    0
tag      0
dtype: int64


Missing values in link:
movieId      0
imdbId       0
tmdbId     252
dtype: int64


Missing values in movie:
movieId    0
title      0
genres     0
dtype: int64


Missing values in tag:
userId        0
movieId       0
tag          16
timestamp     0
dtype: int64

In [17]:
# Create Series of missing values
rating_nulls = ratings.isnull().sum()
genome_nulls = genome_scores.isnull().sum()
tags_nulls = genome_tags.isnull().sum()
link_nulls = link.isnull().sum()
movie_nulls = movie.isnull().sum()
tag_nulls = tag.isnull().sum()

# Combine side-by-side into a single DataFrame
missing_df = pd.concat([
    rating_nulls.rename("ratings"),
    genome_nulls.rename("genome_scores"),
    tags_nulls.rename("genome_tags"),
    link_nulls.rename("link"),
    movie_nulls.rename("movie"),
    tag_nulls.rename("tag")
], axis=1)

# Display the combined result
print("Side-by-side missing values:")
display(missing_df)

Side-by-side missing values:

           ratings  genome_scores  genome_tags   link  movie   tag
userId         0.0            NaN          NaN    NaN    NaN   0.0
movieId        0.0            0.0          NaN    0.0    0.0   0.0
rating         0.0            NaN          NaN    NaN    NaN   NaN
timestamp      0.0            NaN          NaN    NaN    NaN   0.0
tagId          NaN            0.0          0.0    NaN    NaN   NaN
relevance      NaN            0.0          NaN    NaN    NaN   NaN
tag            NaN            NaN          0.0    NaN    NaN  16.0
imdbId         NaN            NaN          NaN    0.0    NaN   NaN
tmdbId         NaN            NaN          NaN  252.0    NaN   NaN
title          NaN            NaN          NaN    NaN    0.0   NaN
genres         NaN            NaN          NaN    NaN    0.0   NaN

In [19]:
#only rows with non-zero missing values
missing_df[(missing_df > 0).any(axis=1)]

        ratings  genome_scores  genome_tags   link  movie   tag
tag         NaN            NaN          0.0    NaN    NaN  16.0
tmdbId      NaN            NaN          NaN  252.0    NaN   NaN

tag.csv had 16 missing values in the tag column. Since tags are user-generated and essential for interpretability, we dropped rows where tag is missing

In [21]:
#Handle missing values
tag_cleaned = tag.dropna(subset=['tag'])

link.csv had 252 missing values in the tmdbId column. 
These IDs are needed for mapping MovieLens movies to external databases (like TMDb). 
We removed rows where tmdbId is missing to prevent mismatches in later integrations.

In [23]:
# removes rows from the link DataFrame
link_cleaned = link.dropna(subset=['tmdbId'])

In the above code, it removes rows from the link DataFrame where the tmdbId column has missing (NaN) values.

In [25]:
#check for missing values (NaNs) in each column of the cleaned DataFrames:
tag_cleaned.isnull().sum()
link_cleaned.isnull().sum()

movieId    0
imdbId     0
tmdbId     0
dtype: int64

In below code, Each drop_duplicates() call removes rows that have identical values across all columns.

In [29]:
#Remove duplicates
tag_cleaned = tag_cleaned.drop_duplicates()
genome_scores_cleaned = genome_scores.drop_duplicates()
movie_cleaned = movie.drop_duplicates()
genome_tags_cleaned = genome_tags.drop_duplicates()
link_cleaned = link_cleaned.drop_duplicates()
# Remove missing values and duplicates from rating data
rating_cleaned = ratings.dropna().drop_duplicates()

In [31]:
# Handle outliers in rating column using IQR method
Q1 = rating_cleaned['rating'].quantile(0.25)
Q3 = rating_cleaned['rating'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Remove outliers
rating_cleaned = rating_cleaned[(rating_cleaned['rating'] >= lower_bound) & 
                                (rating_cleaned['rating'] <= upper_bound)]

## Handling Outliers
To ensure data quality, we removed outliers in the `rating` column using the IQR method. 

This helps reduce skewed values that may affect model performance.

Outliers are defined as any ratings below Q1 - 1.5*IQR or above Q3 + 1.5*IQR.

In [49]:
#Convert Timestamps
rating_cleaned['timestamp'] = pd.to_datetime(rating_cleaned['timestamp'], unit='s', errors='coerce')
tag_cleaned['timestamp'] = pd.to_datetime(tag_cleaned['timestamp'], errors='coerce')

In [51]:
import os
os.makedirs("../data/interim", exist_ok=True)

# Save all cleaned data
tag_cleaned.to_csv("../data/interim/tag_cleaned.csv", index=False)
movie_cleaned.to_csv("../data/interim/movie_cleaned.csv", index=False)
link_cleaned.to_csv("../data/interim/link_cleaned.csv", index=False)
genome_scores_cleaned.to_csv("../data/interim/genome_scores_cleaned.csv", index=False)
genome_tags_cleaned.to_csv("../data/interim/genome_tags_cleaned.csv", index=False)

# Convert timestamp and save rating_cleaned
rating_cleaned['timestamp'] = pd.to_datetime(rating_cleaned['timestamp'], errors='coerce')
rating_cleaned.to_csv("../data/interim/rating_cleaned.csv", index=False, date_format='%Y-%m-%d %H:%M:%S')

In [53]:
#Parse columns
movie_cleaned['year'] = movie_cleaned['title'].str.extract(r'\((\d{4})\)').astype('Int64')
tag_cleaned['timestamp'] = pd.to_datetime(tag_cleaned['timestamp'], errors='coerce')

In [55]:
#Merge two datasets — genome_scores_cleaned and genome_tags_cleaned — using the common column tagId.
genome_merged = pd.merge(genome_scores_cleaned, genome_tags_cleaned, on='tagId', how='left')

In [57]:
# Calculate Sparsity of the Ratings Matrix
import pandas as pd

# Load cleaned ratings
rating_cleaned = pd.read_csv('../data/interim/rating_cleaned.csv')

# Number of users and movies
num_users = rating_cleaned['userId'].nunique()
num_movies = rating_cleaned['movieId'].nunique()

# Total possible interactions
total_possible = num_users * num_movies

# Actual ratings
total_actual = len(rating_cleaned)

# Sparsity calculation
sparsity = 1 - (total_actual / total_possible)
print(f"Sparsity of the user-item matrix: {sparsity:.4f}")

Sparsity of the user-item matrix: 0.9948

## Sparsity of the User-Item Matrix

In recommendation systems, understanding the sparsity of the user-item matrix is essential. 

Sparsity refers to how many interactions (ratings) are actually present compared to the total possible interactions between users and items.

In our dataset:
- **Number of unique users:** `num_users`
- **Number of unique movies:** `num_movies`
- **Actual number of ratings:** `total_actual`

After calculating, we find that the **sparsity of the matrix is 0.9948**, indicating that only about **0.5% of the possible user-movie combinations** have a rating.

In [61]:
#  Shape checks for cleaned DataFrames
print("tag_cleaned shape:", tag_cleaned.shape)
print("movie_cleaned shape:", movie_cleaned.shape)
print("link_cleaned shape:", link_cleaned.shape)
print("genome_scores_cleaned shape:", genome_scores_cleaned.shape)
print("genome_tags_cleaned shape:", genome_tags_cleaned.shape)
print("rating_cleaned shape:", rating_cleaned.shape)

tag_cleaned shape: (465548, 4)
movie_cleaned shape: (27278, 4)
link_cleaned shape: (27026, 3)
genome_scores_cleaned shape: (11709768, 3)
genome_tags_cleaned shape: (1128, 2)
rating_cleaned shape: (19080406, 4)

- In this notebook, I completed all the required data wrangling steps to prepare the MovieLens dataset for building a personalized movie recommendation system. 

- The goal was to clean, format, and organize the data to ensure consistency, reliability, and readiness for exploratory analysis and modeling.

- The dataset includes over 20 million user-movie interactions, making it suitable for training collaborative filtering and deep learning models.

- The high sparsity (99.46%) indicates that most users rate only a small subset of movies — this validates the need for techniques like matrix factorization, implicit feedback modeling, and hybrid approaches.

- The genome tag relevance data provides rich content features, enabling us to build a content-based and ultimately a hybrid recommendation system and alter on deep learning-based models such as Neural Collaborative Filtering.

In [63]:
### Save All Final Processed Files to /processed Folder for final, modeling-ready datasets
import os
os.makedirs("../data/processed", exist_ok=True)

# Save ratings with timestamp and year
ratings_processed = rating_cleaned.copy()
ratings_processed['timestamp'] = pd.to_datetime(ratings_processed['timestamp'], errors='coerce')
ratings_processed['year'] = ratings_processed['timestamp'].dt.year
ratings_processed.to_csv("../data/processed/ratings_processed.csv", index=False, date_format='%Y-%m-%d %H:%M:%S')

# Save movie_cleaned
movie_cleaned.to_csv("../data/processed/movies_processed.csv", index=False)

# Save tag_cleaned
tag_cleaned.to_csv("../data/processed/tags_processed.csv", index=False)

# Save genome_scores_cleaned
genome_scores_cleaned.to_csv("../data/processed/genome_scores_processed.csv", index=False)

# Save genome_tags_cleaned
genome_tags_cleaned.to_csv("../data/processed/genome_tags_processed.csv", index=False)